<div class="album" ng-controller="AlbumController">  
    <main class="album-view container narrow">
        <section class="clearfix">
            <div class="column half">
                <img ng-src="{{currentAlbum.albumArtUrl}}" class="album-cover-art">
            </div>
            <div class="album-view-details column half">
                <h2 class="album-view-title">{{currentAlbum.name}}</h2>
                <h3 class="album-view-artist">{{currentAlbum.artist}}</h3>
                <h5 class="album-view-release-info">{{currentAlbum.year}} {{currentAlbum.label}}</h5>
            </div>
        </section>
        <table class="album-view-song-list">
            <tr class="album-view-song-item" ng-repeat="song in currentAlbum.songs">
                <td class="song-item-number" data-song-number="' + {{$index + 1}} + '">{{$index + 1}}</td>
                <td class="song-item-title">{{song.name}}</td>
                <td class="song-item-duration">{{song.length}}</td>
            </tr>
        </table>
    </main>
    <div ng-include="'/views/player_bar.html'"></div>
</div>  