<div class="collection" ng-controller="CollectionController">
    <section class="album-covers container">
        <div class="collection-album-container column fourth" ng-repeat="albums in albums">
          <img ng-src="{{albums.albumArtUrl}}"/>
          <div class="collection-album-info caption">
            <p>
              <a class="album-name" ui-sref="album"> {{albums.name}} </a>
              <br/>
              <a ui-sref="album"> {{albums.artist}} </a>
              <br/>
              {{albums.songs.length}} songs
              <br/>
            </p>
          </div>
        </div>
    </section>
    <div ng-include="'/views/player_bar.html'"></div>
</div>
        
